
html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 s
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;

 }


/* index */


html{
    height: 2000%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(113,149,188,1) 73%, rgb(1, 12, 38) 100%); 
}

.index-body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1{
    height: 2000%;
}

.index-footer{
    position: absolute;
    bottom: -14720px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: auto;
}

.descend-link{
    position: absolute;
    left: 15vw;
}
.surface-link{
    position: absolute;
    left: 75vw;
}

/* the depths */

.depths-body{
    height:100%;
    background-color: rgb(6, 1, 23);
}